/** This is a style sheet from bootstrap css that goes with the formating of the
    projects view.  I have added some custom elements for styling of specific html tags. **/
body{
height: 100%;
overflow: hidden;
}

/** ===========================================
=========================================== **/
/** Customer styling for projects view **/
#projects{
  display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.container {
    margin: 20% auto;
    height: 100%;
    vertical-align: middle;
}

.row{
  height: 100%;
}

/** element id for each Repository **/
#repository{
  padding-top: 3em;
  padding-bottom: 0.5em;
  font-size: 3em;
  font-family:  "Open Sans Condensed", Verdana, sans-serif;
  overflow-y: auto;
}

/** Description of Repository **/
p{
  text-align: center;
  color: lightgreen;
  padding-top: 1em;
  padding-bottom: 1.5em;
  letter-spacing: 1px;
  font-size: 1.5em;
  font-family: "Lato", Verdana, sans-serif;
}

/** tag used to identify instructions for site visit **/
/*span{
  color: lightgreen;
  font-size: 1.2em;
}*/

/** used to wrap "site" and "github" buttons **/
ul{
  list-style: none;
  display: inline;
}

/** Visit Site button **/
.site{
  padding-bottom: 24px;
}

/** Github button **/
.github{
  padding-bottom: 6em;
}
/** end of custom styling for projects page **/
/** =========================================== **/


/** Bootstrap Styling **/
/** styling for buttons **/
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

/** saving the footer incase I want to use it later **/
/*.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}*/

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    margin-bottom: 40px;
    padding-right: 0;
    padding-left: 0;
    position: relative;
  }

}
/** end of Bootstrap **/
