/** I used Bootstrap framework  to create this Portfolio.  I tweaked it here and there.  **/

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */


body {
/*   position: relative; */
/*   height: 100%; */
  /* background-color: #6A6653; */
  color: aliceblue;
  text-align: center;
  background-color: cadetblue;
  width:100%;
	height:100%;
	padding:0;
	margin:0;
  /* background-color: darkgreen; */
}
/* body {
  color: aliceblue;
  text-align: center; */
  /* background-color: darkgreen; */
  /* text-shadow: 0 1px 3px rgba(0,0,0,.5); */
/* } */

/* Extra markup and styles for table-esque vertical and horizontal centering */
/* .site-wrapper { */
  /* display: table; */
  /* width: 100%; */
  /* height: 100%; /* For at least Firefox */
  /* min-height: 100%;
	position: relative;
  background-color: cadetblue;
} */
/* .site-wrapper-inner {
  vertical-align: top;
    height: auto;
    overflow: auto;
} */
/* .cover-container {
  margin-right: auto;
  margin-left: auto;
} */
.container-fluid{
  vertical-align: top;
  height: auto;
  overflow: auto;
  margin-right: auto;
  margin-left: auto;
  /* background-color: darkgray; */
}

/*
 * Header
 */

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 12px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 25px;
  font-weight: bold;
  /* color: #fff; */
  color: rgba(255,255,255,.75);
  /* border-bottom: 2px solid transparent; */
  color: darkcyan;
  cursor: pointer;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    margin:auto;
  }
  .masthead-nav {
    float: right;
  }
}
/* .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
} */


/*
 * Cover
 */

.cover {
/*   padding: 0 20px; */
  margin:10% auto;
  position: relative /* 9/30 */
}
/** end of bootstrap styling except of media-queries **/
/** =========================================== **/


/** ===========================================
=========================================== **/
/** Custom styling for Home page **/
/** Decorative Leaf logo **/
.fa.fa-leaf {
  color: lightgreen;
}

/** My name on Home page "index.html" **/
h1{
  font-size: 6em;
  font-family:  "Lato", Verdana, sans-serif;
  color: aliceblue;
}

/** Web Developer **/
/*.title{
    font-size: 5.5em;
    padding: 10px;
}*/
.title {
    font-size: 4.5em;
    padding: 10px;
    margin-top: 20px;
    color:aliceblue;
}
.links {
    margin-top: 65px;
    font-size: 25px;
}
/** Links **/
.fa.fa-github{
  color: lightgreen;
  padding-right: 10px;
}

.fa.fa-linkedin{
  color: lightgreen;
}

.fa.fa-envelope{
  color: lightgreen;
  padding-left: 10px;
}
/** end of custom styling for Home page **/
/** =========================================== **/

/** ===========================================
=========================================== **/
/** Custom styling for Bio page **/
/**  Bio.html view **/
#bio{
  /* display: table; */
    width: 100%;
    height: 100%;
    /* min-height: 100%; */
    overflow: auto;
}

/** Self explanatory **/
.bio-paragraph{
  vertical-align: middle;
  text-align: center;
  font-size: 2.3em;
  letter-spacing: 1px;
  font-family: "Lato", Verdana, sans-serif;
  padding-top: 3em;
  color: aliceblue;
  /*padding-bottom: 5em;*/
}

/** SVG image **/
.img-responsive{
  margin:auto;
  display:block;
  width: 100% \9;
  height: auto;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}

/** Resume button **/
/* #resume {
  padding-top: 2em;
  padding-bottom: 5em;
} */

/** end of custom styling for Bio page **/
/** =========================================== **/

/** Bio and Projects page styling **/
.container-fluid {
    /* margin: 20% auto; */
    height: 100%;
    /* vertical-align: middle; */
    display: inline-block;
    /* height: 1px; */
    overflow: hidden;
}
#projects{
background-color:darkgray;
width:100%;
}
/** end of custom styling for Projects page

/** Bootstrap Media-queries **/
/*
 * Affix and center
 */
@media(max-width: 320px){
  .masthead-brand {
    margin-top: 2px;
    margin-bottom: 4px;
  }
  .container-fluid {
    height: 100%;
    vertical-align: middle;
  }
  .bio-paragraph{
  padding-top: 0;
  padding-bottom: 4em;
  font-size: 1.3em;
  font-family: 'Lato', Verdana, sans-serif;
  color: aliceblue;
  }

  .img-responsive{
  padding-top: 0;
  }
  /* #resume{
  padding-top: 0;
  } */

}
@media (min-width: 440px) {
  .container-fluid{
  margin: auto;
  }
  .img-responsive{
    padding-top: 1.5em;
    padding-bottom: 1em;
  }
  .bio-paragraph {
  font-size: 1.5em;
  }
}

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    top: 5px;
  }
.cover{
  margin: 45% auto;
  position: relative /* 9/30 */
  }
  .container-fluid {
    margin: 20% auto;
  }
  .bio-paragraph {
    padding-bottom: 1em;
  }
  /* Start the vertical centering */
/*   .site-wrapper-inner {
    vertical-align: middle;
  } */
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
/*   width: 108%; */
    margin: 2% auto;
    height: auto;/* 9/30 */
/*     max-width: 1400px; */
  }
 .cover{
  margin:10% auto;
  position: relative; /* 9/30 */
  }
  .container-fluid {
    margin: 13% auto;
  }
  h1 {
    padding-top: 0.5em;
    color: aliceblue;
  }
  .bio-paragraph{
    font-size: 2em;
    padding-bottom: 2em;
    padding-top: 0.1em;
  }
  #repository {
   padding-top: 0;
   font-family: "Lato", Verdana, sans-serif;
   color: aliceblue;
  }
  .github {
    padding-bottom: 9em;
}

}

/* Large devices (large desktops, 1200px and up) */
/* @media (min-width:1200px) {
   .masthead,
  .mastfoot,
  .cover-container {
  width: 108%;
    margin: 2% auto;
    max-width: 1400px;
  }
  .container {
    margin: 13% auto;
  }
  h1 {
    padding-top: 2em;
  }
  .bio-paragraph{
    font-size: 2em;
    padding-bottom: 2em;
    padding-top: 0.1em;
  }
  #repository {
   padding-top: 0;
  }
  .github {
    padding-bottom: 9em;
}

} */
