/** I used Bootstrap framework  to create this Portfolio.  I tweaked it here and there.  **/

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
/*   position: relative; */
/*   height: 100%; */
  background-color: #6A6653;
  width:100%;
	height:100%;
	padding:0;
	margin:0;
}
body {
  color: lightcyan;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	position:relative;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 12px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 22px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
  position: relative /* 9/30 */
}
/** end of bootstrap styling except of media-queries **/
/** =========================================== **/


/** ===========================================
=========================================== **/
/** Custom styling for Home page **/
/** Decorative Leaf logo **/
.fa.fa-leaf {
  color: lightgreen;
}

/** My name on Home page "index.html" **/
h1{
  font-size: 6em;
  font-family:  "Open Sans Condensed", Verdana, sans-serif;
}

/** Web Developer **/
.title{
  font-size: 4.5em;
}

/** Links **/
.fa.fa-github{
  color: lightgreen;
  padding-right: 10px;
}

.fa.fa-linkedin{
  color: lightgreen;
}

.fa.fa-envelope{
  color: lightgreen;
  padding-left: 10px;
}
/** end of custom styling for Home page **/
/** =========================================== **/




/** ===========================================
=========================================== **/
/** Custom styling for Bio page **/
/**  Bio.html view **/
#bio{
  display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    overflow:auto;
}

/** Self explanatory **/
.bio-paragraph{
  vertical-align: middle;
  text-align: center;
  font-size: 2.3em;
  letter-spacing: 1px;
  font-family: "Lato", Verdana, sans-serif;
  padding-top: 3em;
  /*padding-bottom: 5em;*/
}

/** SVG image **/
.img-responsive{
  margin:auto;
  display:block;
  width: 100% \9;
  height: auto;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}

/** Resume button **/
#resume {
  padding-top: 2em;
  padding-bottom: 5em;
}

/** end of custom styling for Bio page **/
/** =========================================== **/

/** Bio and Projects page styling **/
.container {
    /* margin: 20% auto; */
    height: 100%;
    /* vertical-align: middle; */
    display: block;
    /* height: 1px; */
    overflow: hidden;
}
/** end of custom styling for Projects page

/** Bootstrap Media-queries **/
/*
 * Affix and center
 */
@media(max-width: 320px){
  .masthead-brand {
    margin-top: 2px;
    margin-bottom: 4px;
  }
  .container {
    height: 100%;
    vertical-align: middle;
  }
  .bio-paragraph{
  padding-top: 0;
  padding-bottom: 4em;
  font-size: 1.3em;
  }

  .img-responsive{
  padding-top: 0;
  }
  #resume{
  padding-top: 0;
  }

}
@media (min-width: 440px) {
  .container{
  margin: auto;
  }
  .img-responsive{
    padding-top: 1.5em;
    padding-bottom: 1em;
  }
  .bio-paragraph {
  font-size: 1.5em;
  }
}

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    top: 5px;
  }
  .container {
    margin: 30% auto;
  }
  .bio-paragraph {
    padding-bottom: 1em;
  }
  /* Start the vertical centering */
/*   .site-wrapper-inner {
    vertical-align: middle;
  } */
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
/*   width: 108%; */
    margin: 2% auto;
/*     max-width: 1400px; */
  }
  .container {
    margin: 13% auto;
  }
  h1 {
    padding-top: 2em;
  }
  .bio-paragraph{
    font-size: 2em;
    padding-bottom: 2em;
    padding-top: 0.1em;
  }
  #repository {
   padding-top: 0;
  }
  .github {
    padding-bottom: 9em;
}

}

/* Large devices (large desktops, 1200px and up) */
/* @media (min-width:1200px) {
   .masthead,
  .mastfoot,
  .cover-container {
  width: 108%;
    margin: 2% auto;
    max-width: 1400px;
  }
  .container {
    margin: 13% auto;
  }
  h1 {
    padding-top: 2em;
  }
  .bio-paragraph{
    font-size: 2em;
    padding-bottom: 2em;
    padding-top: 0.1em;
  }
  #repository {
   padding-top: 0;
  }
  .github {
    padding-bottom: 9em;
}

} */
