<!-- This is the Bio view with resume download button -->
<div id="bio">
    <div class="container">

      <div class="bio-paragraph">I'm a Web Developer who enjoys helping people
                 turn their abstract ideas into aesthetically functional reality.</div>

              <!-- The Scalable Vector Graphic of a photo of me -->
              <img src="assets/css/images/rhonda.svg" width="200px" height="200px"alt="me" class="img-responsive">

              <!-- A button that allows you to download a copy of my Resume -->
            <div id="resume">
              <a target="_tab" href="2019=RL-Goolsby.html" class="btn btn-primary active" role="button">Resume
              <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></a>
            </div>

      </div><!-- end of container -->

</div><!-- end of bio -->
