<!-- This is the Bio view with resume download button -->

<div id="bio">

     <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">

                    <!--  Decorative Leaf Icon -->
                      <h3 class="masthead-brand"><i class="fa fa-leaf fa-2x"></i></h3>

                      <nav>
                          <ul class="nav masthead-nav">
                          <li><a href="#">Home</a></li>
                          <li><a href="#/bio">Bio</a></li>
                          <li><a href="#/projects">Projects</a></li>
                        </ul>
                      </nav>

                    </div><!-- end of inner -->

                  </div><!-- end of masthead clearfix -->

    <div class="container">


                  <div class="container">
                    <div class="bio-paragraph">I'm a Web Developer who enjoys helping all people
                      turn their abstract ideas into aesthetically functional reality.</div>

                 <!-- The Scalable Vector Graphic of a photo of me -->
                 <img src="assets/css/images/rhonda.svg" width="200px" height="200px"alt="me" class="img-responsive">

                 <!-- A button that allows you to download a copy of my Resume -->
                 <div id="resume">



                   <a href="/raw/master/R%20L%20Goolsby%20-%202022.pdf" target="_tab" class="btn btn-primary active" role="button">Resume
                     <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></a>
                   </div>


      </div><!-- end of container -->

    </div>
  </div>
</div>

</div><!-- end of bio -->
