<!-- This is the Bio view with resume download button -->
<div id="bio">

  <div class="bio-paragraph">I'm a Web Developer who enjoys helping all people
    turn their abstract ideas into aesthetically functional reality.</div>

  <!-- The Scalable Vector Graphic of a photo of me -->
  <img src="assets/css/images/rhonda.svg" width="300px" height="300px" alt="me" class="img-responsive" style="border-radius:50%;">

  <!-- A button that allows you to download a copy of my Resume -->
  <!-- <div id="resume"> -->

  <!--<a target="_tab" href=""  class="btn btn-primary active" role="button">Resume
                     <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></a>
                   </div>-->


</div><!-- end of bio -->
