<!-- This view is of a few of the projects that I have created.  I am currently working on a web application called "Plan-it" using Angular2 framework.
Once it is completed I will upload it to my portfolio.-->
<div id="projects">


  <div class="row">

    <!-- Nested Accordion -->
    <div class="col-lg-6">
      <div id="repository">Seasonal Crops</div>

      <p>Nested Accordion<br>
        "visit site and click on accordion panels"<br><br>
      </P>

      <ul>
        <li class="site"><a target="_tab" class="btn btn-primary" href="https://rlgoolsby.github.io/Seasonal-Crops-accordion/" role="button">Visit Site &raquo;</a>
        <li class="github"><a target="_tab" class="btn btn-primary" href="https://github.com/RLGoolsby/Seasonal-Crops-accordion" role="button">Github &raquo;</a>
      </ul>
    </div>
    <!-- end of nested accordion -->


    <!-- Responsive-Icon-Grid -->
    <div class="col-lg-6">
      <div id="repository">Responsive-Icon-Grid</div>

      <p>CSS Transition/Transform Exercise<br>
        "visit site and hover over icons"<br><br>
      </p>
      <ul>
        <li class="site"><a target="_tab" class="btn btn-primary" href="https://rlgoolsby.github.io/responsive-icon-grid-c7/" role="button">Visit Site &raquo;</a>
        <li class="github"><a target="_tab" class="btn btn-primary" href="https://github.com/RLGoolsby/responsive-icon-grid-c7/tree/gh-pages" role="button">Github &raquo;</a>
      </ul>
    </div><!-- end of Responsive-Icon-Grid -->


  </div><!-- end of row -->

</div><!-- end of projects-->
