<!-- This view is of a few of the projects that I have created.  I am currently working on
    a web application called "Plan-it" using Angular framework and a Django web platform.  Once it is completed
    I will upload it to my portfolio.-->
        <div id="projects">

          <!-- <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner"> -->

                    <!--  Decorative Leaf Icon -->
                      <!-- <h3 class="masthead-brand"><i class="fa fa-leaf fa-2x"></i></h3> -->


                    <!-- </div><!-- end of inner --> -->

                  <!-- </div><!-- end of masthead clearfix --> -->

            <!-- <div class="container-fluid"> -->

                <div class="row">

                <!--  Apple Wrecker -->
                   <!--<div class= "col-lg-6">
                    <div id="repository"> Apple Wrecker </div>
                    <p>A WordPress customized theme.<br><br>
                      </p>
                            <ul>
                              <li class="site"><a target="_tab" class="btn btn-primary" href="http://tow2016.wordpress.com"
                                  role="button">Visit Site &raquo;</a>
                              <li class="github"><a target="_tab" class="btn btn-primary" href="https://wordpress.com/customize/tow2016.wordpress.com"
                                  role="button">WordPress &raquo;</a>
                            </ul>
                    </div>-->
                    <!-- Plan It -->
                    <!--<div class= "col-lg-6">
                      <div id="repository"> Plan It </div>
                      <p>An app that will help you with your plant choices<br><br>
                        </p>
                              <ul>
                                <li class="site"><a target="_tab" class="btn btn-primary" href="https://rlgoolsby.github.io/plan-it/"
                                    role="button">Visit Site &raquo;</a>
                                <li class="github"><a target="_tab" class="btn btn-primary" href="https://github.com/RLGoolsby/plan-it"
                                    role="button">Github &raquo;</a>
                              </ul>
                      </div>-->

                <!-- ready,set,prep web application -->
                <!--<div class="col-lg-6">
                  <div id="repository">Ready, Set, Prep</div>

                  <p>A web application designed to simplify the job search.<br>
                    <span>Visit Site:<br>
                        Login: demo@example.com<br>
                        Password: demo16</span></p>
                          <ul>
                            <li class="site"><a target="_tab" class="btn btn-primary" href="http://readysetprep.herokuapp.com/"
                                role="button">Visit Site &raquo;</a>
                            <li class="github"><a target="_tab" class="btn btn-primary" href="https://github.com/RLGoolsby/ready-set-prep/tree/master"
                                role="button">Github &raquo;</a>
                          </ul>
                </div>-->
                <!--end of ready,set,prep -->


                <!-- Nested Accordion -->
                <div class="col-lg-6">
                  <div id="repository">Halloween-Accordion</div>

                  <p>Nested Accordion<br>
                    "visit site and click on accordion panels"<br><br>
                     </P>

                      <ul>
                          <li class="site"><a target="_tab" class="btn btn-primary" href="https://rlgoolsby.github.io/Halloween-accordion/"
                          role="button">Visit Site &raquo;</a>
                          <li class="github"><a target="_tab" class="btn btn-primary" href="https://github.com/RLGoolsby/Halloween-accordion"
                          role="button">Github &raquo;</a>
                      </ul>
               </div>
                    <!-- end of nested accordion -->


               <!-- Responsive-Icon-Grid -->
                <div class="col-lg-6">
                  <div id="repository">Responsive-Icon-Grid</div>

                  <p>CSS Transition/Transform Exercise<br>
                    "visit site and hover over icons"<br><br>
                  </p>
                  <ul>
                      <li class="site"><a target="_tab" class="btn btn-primary" href="https://rlgoolsby.github.io/responsive-icon-grid-c7/"
                      role="button">Visit Site &raquo;</a>
                      <li class="github"><a target="_tab" class="btn btn-primary" href="https://github.com/RLGoolsby/responsive-icon-grid-c7/tree/gh-pages"
                      role="button">Github &raquo;</a>
                  </ul>
                </div><!-- end of Responsive-Icon-Grid -->


              </div><!-- end of row -->
            <!-- </div><!-- end of container --> 
          <!-- </div> -->
         <!-- </div> -->
        <!-- </div> -->
       <!-- </div><!-- end of projects-->
