<!-- This view is of a few of the projects that I have created.  I am currently working on
    a web application called Plan it using angular framework and drupal backend.  Once it is completed
    I will upload it to my portfolio.-->
        <div id="projects">
            <div class="container">

              <div class="row">


                <!-- ready,set,prep web application -->
                <div class="col-lg-4">
                  <h2>Ready, Set, Prep</h2>
                  <img src="assets/css/images/Ready,Set,Prep.png" alt="Ready,Set,Prep" class="img-responsive">

                  <p>A web application designed to simplify the job search.<br>
                    Demo:<br>
                        Login: demo@example.com<br>
                        Password: demo16</p>
                          <ul>
                            <li class="site"><a target="_tab" class="btn btn-primary" href="http://readysetprep.herokuapp.com/"
                                role="button">Live Site &raquo;</a>
                            <li class="github"><a target="_tab" class="btn btn-primary" href="https://github.com/RLGoolsby/ready-set-prep/tree/master"
                                role="button">Github &raquo;</a>
                          </ul>
                </div><!--end of ready,set,prep -->


                <!-- Badges -->
                <div class="col-lg-4">
                  <h2>Badges</h2>
                  <img src="assets/css/images/My-Badges.png" alt="badges" class="img-responsive">

                  <p>Direct route to my CodeSchool Badges using PHP backend server.<br>
                     Visit Site:<br>
                        Click-on badge title, e.g. "Try PHP".<br></P>

                      <ul>
                          <li class="site"><a target="_tab" class="btn btn-primary" href="https://tranquil-sea-68952.herokuapp.com/"
                          role="button">Live Site &raquo;</a>
                          <li class="github"><a target="_tab" class="btn btn-primary" href="https://github.com/rlgoolsby/php/tree/gh-pages"
                          role="button">Github &raquo;</a>
                      </ul>
               </div><!-- end of Badges -->


               <!-- Responsive-Icon-Grid -->
                <div class="col-lg-4">
                  <h2>Responsive-Icon-Grid</h2>
                  <img src="assets/css/images/Responsive-icon-grid.png" alt="Responsive-Icon-Grid" class="img-responsive">

                  <p>An exercise in creating a responsive icon grid using css transform on hover.<br>
                    Visit Site:<br>
                      Hover over grid cells.</p>
                  <ul>
                      <li class="site"><a target="_tab" class="btn btn-primary" href="https://rlgoolsby.github.io/responsive-icon-grid-c7/"
                      role="button">Live Site &raquo;</a>
                      <li class="github"><a target="_tab" class="btn btn-primary" href="https://github.com/RLGoolsby/responsive-icon-grid-c7/tree/gh-pages"
                      role="button">Github &raquo;</a>
                  </ul>
                </div><!-- end of Responsive-Icon-Grid -->
              </div><!-- end of row -->
            </div><!-- end of container -->
        </div><!-- end of projects-->
